* {
    font-family: Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
}

ul, ol {
    list-style: none;
}

.cal-faceplate {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "cal-viewport cal-viewport cal-viewport cal-viewport"
        "cal-clear cal-clear cal-clear cal-ops"
        "cal-numpad cal-numpad cal-numpad cal-ops"
        "cal-numpad cal-numpad cal-numpad cal-ops"
        "cal-numpad cal-numpad cal-numpad cal-ops"
        "cal-numpad cal-numpad cal-numpad cal-exec"
    ;
    width: 33vh;
}

#cal-viewport {
    grid-area: cal-viewport;
}

#cal-clear {
    grid-area: cal-clear;
}

#cal-ops {
    grid-area: cal-ops;
}

#cal-numpad {
    grid-area: cal-numpad;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 75%;
    max-height: 50vh;
}

.cal-numkey {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    width: 33.33%;
}

.cal-numkey:not(#num-0) {
    aspect-ratio: 1/1;
}

#num-0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

